My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Reply only one most relevant topic to create a linkedln post about the technical world. reply in few lines with just the topic. Do not contain special characters."
            },
            {}
          ]
        },
        "builtInTools": {
          "googleSearch": true
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        32,
        -48
      ],
      "id": "5e9c7a8b-816a-4bb5-ab61-27e808f0fcae",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "SiE7twmjMmuz2Ro5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -48
      ],
      "id": "5e65e284-5dd6-43b2-afdd-c64b1214f2f4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hqXq0U_dpfq2xXDEf954tV9aJDCvYvC7AThTM0bKC7o",
          "mode": "list",
          "cachedResultName": "LinkedIn",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hqXq0U_dpfq2xXDEf954tV9aJDCvYvC7AThTM0bKC7o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hqXq0U_dpfq2xXDEf954tV9aJDCvYvC7AThTM0bKC7o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $json.content.parts[0].text }}",
            "Status": "Pending",
            "Content": "Non Applicable "
          },
          "matchingColumns": [
            "Status"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        -48
      ],
      "id": "c0114d1e-44dd-456d-bd43-8c93b3ac4b80",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Rn16h3EcbDLy9yAK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d1b77df-12e7-42c9-9999-ec2f1bcf0487",
              "name": "content.parts[0].text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -48
      ],
      "id": "893ab11c-d09a-4db5-8d0d-93217086c548",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\" :\"{{ $json.Topic }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 4,\n  \"time_range\": null,\n  \"start_date\": \"2025-02-09\",\n  \"end_date\": \"2025-12-29\",\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"include_usage\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        -48
      ],
      "id": "35423307-d2aa-44e2-a301-74733a2dc4f8",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GlI4j01CnDLaeja3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.query }}\narticle 1 : \n{{ $json.results[0].url }}\narticle 2:\n{{ $json.results[1].url }}\narticle 3:{{ $json.results[2].url }}\narticle 4 : \n{{ $json.results[3].url }}",
        "options": {
          "systemMessage": "You are a professional technical content writer and industry analyst responsible for creating high-quality LinkedIn posts. Your task is to generate a concise yet insightful LinkedIn post strictly based on the articles, links, and topics provided by the user.\n\nYou must ensure factual accuracy at all times. Do not invent statistics, events, company announcements, timelines, or technological claims. Every insight, trend, or statement must be directly supported by the provided material or be a clearly stated logical synthesis of it.\n\nThe tone should be professional, informed, and engaging, suitable for a LinkedIn audience that includes engineers, researchers, founders, and technology leaders. The writing should demonstrate clarity of thought, relevance to current or emerging technological developments, and an understanding of real-world impact.\n\nYou may summarize, connect, and contextualize the provided topics, but you must not introduce external news, assumptions, or speculative information unless explicitly instructed. If information is insufficient, acknowledge it rather than extrapolating inaccurately.\n\nStructure the post as a coherent narrative rather than bullet points, keeping it concise enough for LinkedIn while still offering meaningful insight. Avoid exaggeration, clickbait, or unsupported futuristic claims.\n\nYour output must be ready to post on LinkedIn without further editing, maintaining accuracy, credibility, and professional value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1056,
        -48
      ],
      "id": "759e8c25-c47a-4c1c-ae0c-2cae02183ebc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1136,
        176
      ],
      "id": "5228f526-ca11-4aea-8eef-b88261901c2f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "u4Zpo36kLU939i6x",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hqXq0U_dpfq2xXDEf954tV9aJDCvYvC7AThTM0bKC7o",
          "mode": "list",
          "cachedResultName": "LinkedIn",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hqXq0U_dpfq2xXDEf954tV9aJDCvYvC7AThTM0bKC7o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hqXq0U_dpfq2xXDEf954tV9aJDCvYvC7AThTM0bKC7o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('HTTP Request').item.json.query }}",
            "Status": "Completed",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        -48
      ],
      "id": "c664027d-20b5-4046-bbe2-006056ede29b",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Rn16h3EcbDLy9yAK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "shrumd0408@gmail.com",
        "subject": "={{ $json.Topic }}",
        "message": "={{ $json.Content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1632,
        -48
      ],
      "id": "a60a3fec-7d6b-4f57-aa60-122e6361ab33",
      "name": "Send a message",
      "webhookId": "16b8ac65-b1f0-4659-b7bf-2ba62dc41540",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZIc8gUYYtsvJ2UNn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "92b5dc55-f579-469c-b7d2-bbf881737d79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf0bd52b7efd534be89741ec2181e3662369424d34749a6377b8b0711a89debc"
  },
  "id": "s00rF_cXb3cCOZdlwtY_v",
  "tags": []
}